<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bus/static/bus/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    
    <div class="row-cols-auto">
        <!-- ========== Header Section ========== -->
        
        <header>
            <div class="brand d-flex align-items-center justify-content-center m-4 p-4">
                <img src="/bus/static/bus/Vectorbus.png" alt="bus">
                <h1>OTERO<span>BUS</span></h1>
            </div>
        </header>




        <!-- ========== Main Section ========== -->
        
        
        <main class="container-fluid mt-5">
            <div class="row route-selection">
                <div class="col col-md-6 col-lg-3 m-auto  text-center dropdown dropdown-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lugar de Inicio
                    </button>

                    <ul class="dropdown-menu text-center m-auto">
                        <li><a class="dropdown-item" href="#">SARMIENTO Y URQUIZA</a></li>
                        <li><a class="dropdown-item" href="#">PANADERÍA LA PERLA</a></li>
                        <li><a class="dropdown-item" href="#">TERMINAL COLÓN</a></li>
                        <li><a class="dropdown-item" href="#">TERMINAL SAN JOSÉ</a></li>
                        <li><a class="dropdown-item" href="#">B° EL BRILLANTE</a></li>
                        <li><a class="dropdown-item" href="#">B° EL COLORADO</a></li>
                        <li><a class="dropdown-item" href="#">LIEBIG</a></li>
                    </ul>
                </div>
                
                <div class="col col-md-6 col-lg-3 m-auto text-center dropdown dropdown-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lugar de Fin
                    </button>

                    <ul class="dropdown-menu text-center m-auto">
                        <li><a class="dropdown-item" href="#">SARMIENTO Y URQUIZA</a></li>
                        <li><a class="dropdown-item" href="#">PANADERÍA LA PERLA</a></li>
                        <li><a class="dropdown-item" href="#">TERMINAL COLÓN</a></li>
                        <li><a class="dropdown-item" href="#">TERMINAL SAN JOSÉ</a></li>
                        <li><a class="dropdown-item" href="#">B° EL BRILLANTE</a></li>
                        <li><a class="dropdown-item" href="#">B° EL COLORADO</a></li>
                        <li><a class="dropdown-item" href="#">LIEBIG</a></li>
                    </ul>
                </div>

            </div>

            <section class="tabla d-none">
                <div class="row mt-5">
                    <div class="col col-lg-3 col-xl-12 p-2">
                        <div class="table-responsive">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Column 1</th>
                                        <th scope="col">Column 2</th>
                                        <th scope="col">Column 3</th>
                                        <th scope="col">Column 4</th>
                                        <th scope="col">Column 5</th>
                                        <th scope="col">Column 6</th>
                                        <th scope="col">Column 7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td scope="row">R1C1</td>
                                        <td>R1C2</td>
                                        <td>R1C3</td>
                                        <td>R1C3</td>
                                        <td>R1C3</td>
                                        <td>R1C3</td>
                                        <td>R1C3</td>
                                    </tr>
                                    <tr class="">
                                        <td scope="row">Item</td>
                                        <td>Item</td>
                                        <td>Item</td>
                                        <td>Item</td>
                                        <td>Item</td>
                                        <td>Item</td>
                                        <td>Item</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="container pt-5">
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <div class="card w-100 shadow rounded-4 text-center mb-3 mt-3" id="salida">
                                <div class="card-header bg-primary rounded-top-4 text-white fs-4 p-2">Sale</div>
                                <div class="card-body m-0 p-0 ">
                                    <p class="card-text fs-4 text-wrap p-2">Terminal San José</p>
                                </div>
                                <div class="card-footer fw-bold fs-4">08:00</div>
                            </div>
                        </div>
                        <div class="col-5 col-sm-4">
                            <div class="card shadow rounded-4 text-center mb-3 mt-3">
                                <div class="card-header bg-secondary rounded-top-4 text-white fs-4 p-2">Pasa por</div>
                                <div class="card-body m-0 p-0">
                                    <p class="card-text fs-4 text-wrap p-2">Cetourd</p>
                                </div>
                                <div class="card-footer fw-bold fs-4">08:30</div>
                            </div>
                        </div>
                        <div class="col-5 col-sm-4">
                            <div class="card shadow rounded-4 text-center mb-3 mt-3" id="llegada">
                                <div class="card-header bg-primary rounded-top-4 text-white fs-4 p-2">Llega</div>
                                <div class="card-body m-0 p-0">
                                    <p class="card-text fs-4 text-wrap p-2">Terminal Colón</p>
                                </div>
                                <div class="card-footer fw-bold fs-4">08:45</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <!-- ========== Footer Section ========== -->
             
        <!--<footer>
            <div class="text-center">
                
                <p class="flex-wrap">Copyright &copy; 2023 Todos los derechos reservados. </p>
                
                <ul class="list-unstyled d-flex justify-content-around align-items-center fs-1 flex-wrap">
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></i></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </footer> -->
    </div>

    <!-- ========== Bootstrap Script ========== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- ========== Fontawesome icon Script ========== -->
    <script src="https://kit.fontawesome.com/b60709b9fc.js" crossorigin="anonymous"></script>

</body>
</html>