{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otero Bus - Tu bus de confianza</title>
    <link rel="stylesheet" href="{% static 'bus/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="title">
        <img src="{% static 'bus/Vectorbus.png' %}" alt="bus">
        <h1>OTERO<span>BUS</span></h1>
    </div>

    {% block content %}

    <div class="route-selection">
        <div class="btn-group">
            <button class="btn dropdown-toggle fs-5" type="button" id="btn-start" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true"
                    aria-expanded="false">
                        Lugar de Inicio
            </button>

            //traer los lugares de inicio de la base de datos
            <div class="dropdown-menu w-100 text-center w-auto mt-1" id="btn-start" aria-labelledby="btn-start">
                <a class="dropdown-item" href="#">SARMIENTO Y URQUIZA</a>
                <a class="dropdown-item" href="#">PANADERÍA LA PERLA</a>
                <a class="dropdown-item" href="#">TERMINAL COLÓN</a>
                <a class="dropdown-item" href="#">TERMINAL SAN JOSÉ</a>
                <a class="dropdown-item" href="#">B° EL BRILLANTE</a>
                <a class="dropdown-item" href="#">B° EL COLORADO</a>
                <a class="dropdown-item" href="#">LIEBIG</a>
                
                //Trae todos los horarios
                {% for bus in buses %}
                    {% comment %} <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a> {% endcomment %}
                {% endfor %}
            </div>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle fs-5" type="button" id="btn-end" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Lugar de Destino
            </button>
            //traer los lugares de destino de la base de datos
            <div class="dropdown-menu w-100 text-center w-auto mt-1" id="btn-end" aria-labelledby="btn-end">
                <a class="dropdown-item" href="#">SARMIENTO Y URQUIZA</a>
                <a class="dropdown-item" href="#">PANADERÍA LA PERLA</a>
                <a class="dropdown-item" href="#">TERMINAL COLÓN</a>
                <a class="dropdown-item" href="#">TERMINAL SAN JOSÉ</a>
                <a class="dropdown-item" href="#">B° EL BRILLANTE</a>
                <a class="dropdown-item" href="#">B° EL COLORADO</a>
                <a class="dropdown-item" href="#">LIEBIG</a>
                
                //Trae todos los horarios 
                //Siguiente Mejora Tomar el Dia y buscar por esos horarios
                {% for bus in buses %}
                    {% comment %} <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a> {% endcomment %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Column 1</th>
                        <th scope="col">Column 2</th>
                        <th scope="col">Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    {% endblock content %}

    <footer class="container-fluid m-0 p-0">
        
        <p class="pt-3 d-flex text-center justify-content-center">
            Todos los derechos Reservados 2023
        </p>

        <div class="p-3 w-100 d-flex aling-items-center -justify-content-center">
            <ul class="list-unstyled fs-1 d-flex justify-content-around align-items-center w-100 p-0 m-0">
                <li><a href="#"><i class="fa-brands fa-github "></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin "></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram "></i></a></li>
            </ul>
        </div>
    </footer>

    {% comment %} <div class="route-selection">
        <div class="btn-group">
            <button class="btn dropdown-toggle fs-1" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Selecciona un lugar
            </button>
            <div class="dropdown-menu w-100 fs-1 text-center" id="triggerId" aria-labelledby="triggerId">
                {% for bus in buses %}
                    <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a>
                {% endfor %}
            </div>
        </div>
    </div> {% endcomment %}


    {% comment %} <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SARMIENTO Y URQUIZA</th>
                    <th scope="col">PANADERÍA LA PERLA</th>
                    <th scope="col">TERMINAL COLÓN</th>
                    <th scope="col">TERMINAL SAN JOSÉ</th>
                    <th scope="col">B° EL BRILLANTE</th>
                    <th scope="col">B° EL COLORADO</th>
                    <th scope="col">LIEBIG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">R1C1</td>
                    <td>R1C2</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                </tr>
                <tr>
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            </tbody>
        </table>
    </div> {% endcomment %}
    
</body>
<script src="https://kit.fontawesome.com/b60709b9fc.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>