{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otero Bus - Tu bus de confianza</title>
    <link rel="stylesheet" href="{% static 'bus/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="title">
        <img src="{% static 'bus/Vectorbus.png' %}" alt="bus">
        <h1>OTERO<span>BUS</span></h1>
    </div>

    {% block content %}
    <div class="route-selection">
        <div class="btn-group">
            <button class="btn dropdown-toggle fs-5 w-auto" type="button" id="btn-start" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true"
                    aria-expanded="false">
                        Lugar de Inicio
            </button>
            <div class="dropdown-menu w-100 text-center w-auto mt-1" id="btn-start" aria-labelledby="btn-start">
                <a class="dropdown-item" href="#">SARMIENTO Y URQUIZA</a>
                <a class="dropdown-item" href="#">PANADERÍA LA PERLA</a>
                <a class="dropdown-item" href="#">TERMINAL COLÓN</a>
                <a class="dropdown-item" href="#">TERMINAL SAN JOSÉ</a>
                <a class="dropdown-item" href="#">B° EL BRILLANTE</a>
                <a class="dropdown-item" href="#">B° EL COLORADO</a>
                <a class="dropdown-item" href="#">LIEBIG</a>
                
                {% for bus in buses %}
                    {% comment %} <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a> {% endcomment %}
                {% endfor %}
            </div>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle fs-5" type="button" id="btn-end dropmenu" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Lugar de Destino
            </button>
            <div class="dropdown-menu w-100 text-center" id="btn-end" aria-labelledby="btn-end">
                {% for bus in buses %}
                    {% comment %} <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a> {% endcomment %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}

    {% comment %} <div class="route-selection">
        <div class="btn-group">
            <button class="btn dropdown-toggle fs-1" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Selecciona un lugar
            </button>
            <div class="dropdown-menu w-100 fs-1 text-center" id="triggerId" aria-labelledby="triggerId">
                {% for bus in buses %}
                    <a class="dropdown-item" href="#">{{bus.get_lugar_display}}</a>
                {% endfor %}
            </div>
        </div>
    </div> {% endcomment %}


    {% comment %} <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SARMIENTO Y URQUIZA</th>
                    <th scope="col">PANADERÍA LA PERLA</th>
                    <th scope="col">TERMINAL COLÓN</th>
                    <th scope="col">TERMINAL SAN JOSÉ</th>
                    <th scope="col">B° EL BRILLANTE</th>
                    <th scope="col">B° EL COLORADO</th>
                    <th scope="col">LIEBIG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">R1C1</td>
                    <td>R1C2</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                    <td>R1C3</td>
                </tr>
                <tr>
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            </tbody>
        </table>
    </div> {% endcomment %}
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>