@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600&display=swap');

$primary-color: #3498DB;
$second-color: #D9D9D9;

:root{
    --primary-color : #{$primary-color};
    --second-color : #{$second-color};
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #f5f5f5 !important;
}

/***** Footer *****/
footer{
    background-color: #{$primary-color};
    color: white;
    p{
        padding-top: 1rem;
    }
    i{
        color: white;
    }
}

/***** Brand *****/
.brand{
    user-select: none;
    gap: 1.5rem;
    h1{
        font-weight: 700;
        font-size: 3rem;
        font-style: italic;
        gap: 1rem;
        display: flex;
        span{
            color: #{$primary-color};

        }
    }

    img{
        width: 4rem;
        user-select: none;
    }

}


.card{
    max-width: 15rem;
    // min-height: 8rem !important;
    .card-title{
        font-size: .8rem;
    }
    .card-text{
        font-size: .5rem;
    }
}